:root {
  --sidebar-width: 240px;
  --text-color: rgb(50, 50, 50);
  --background-color: #ffffff;
  --light-background-color: #f4f4f4;
  --nav-bar-color: #ffffff;
  --selected-color: rgb(229, 241, 253);
  --action-text-color: #ffffff;
  --action-color: rgb(58, 99, 197);
  --border-color: darkgray;
}

.App li{
  list-style: none;
}